* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

body {
    background-size: 60px;
    background-image: url(./misc-images/placeholder4.png); 
    /* placeholder background image */
}

.hide  {
    position: absolute;
    top:-2000px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    height: min(720px,75vw);
    width: min(960px,100%);
    border: black 2px solid;
}